html,
* {
  box-sizing: border-box;
}

body,
input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

body {
  line-height: 1.5rem;
  margin: 1rem;
}

[type="text"] {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  width: 12rem;
}

[type="checkbox"] {
  width: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

button {
  background-color: rgb(58, 120, 255);
  color: white;
  padding: 0.5rem;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: all 0.2s;
  font-size: 1rem;
}

.disabled {
  background-color: rgb(190, 190, 190);
}

.new-todo {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.complete {
  text-decoration: line-through;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.todo {
  animation: fadein 0.2s;
}

.nav {
}

.nav-item {
  margin: 0 0.5rem;
}

.main {
  margin: 0.5rem;
}
