html,
* {
  box-sizing: border-box;
}

body,
input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

body {
  line-height: 1.5rem;
  margin: 1rem;
}

[type="text"] {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  width: 12rem;
}

[type="checkbox"] {
  width: 1rem;
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.new-todo {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}
